.header-component {
  position: sticky;
  width: 100%;
  z-index: 2;
  top: 0;
  .MuiTypography-root {
    a {
      color: white;
      text-decoration: none;
    }
  }
  .MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #2e2a23;
  }
}
