.header-component {
  position: sticky;
  width: 100%;
  z-index: 2;
  top: 0;
  @media (min-width: 600px) {
    .MuiToolbar-gutters {
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  .MuiTypography-root {
    a {
      color: white;
      text-decoration: none;
    }
  }
  .MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #2e2a23;
  }
}
