.details-component {
  margin: 16px;
  padding: 8px 16px 16px;
  background-color: #f6e6cb;
  display: flex;
  justify-content: space-between;
  .poster {
    margin: 16px auto;
  }
  .info {
    margin-right: 16px;
    .MuiButton-contained {
      margin-top: 32px;
      min-width: 160px;
      color: #ffffff;
      background-color: #2e2a23;
    }

    .data {
      padding: 8px 0;
      .value {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
